@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Nunito", sans-serif;
  }
  input {
    font-family: "Nunito", sans-serif;
  }
  .input:-webkit-autofill,
  .input:-webkit-autofill:hover,
  .input:-webkit-autofill:focus,
  .input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
  }

  .newsletter-input:-webkit-autofill,
  .newsletter-input:-webkit-autofill:hover,
  .newsletter-input:-webkit-autofill:focus,
  .newsletter-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
  }
  .input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
  }
  .newsletter-input:-webkit-autofill {
    -webkit-text-fill-color: #374151 !important;
  }
  .lf-shadow {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
  }
  .grid-custom {
    grid-template-columns: repeat(3, minmax(0, max-content));
  }
  .custom-inner-shadow {
    box-shadow: inset 0px 0px 10px -6px rgba(0, 0, 0, 0.5);
  }
}

.nav-bar-scroll {
  @apply bg-red-300;
}
.nav-links {
  @apply px-3 py-2 rounded text-gray-200 hover:text-white transition w-full lg:w-auto inline-block capitalize;
}
.top-navbar li {
  @apply lg:inline-flex lg:mr-5 hover:bg-gray-700 lg:hover:bg-transparent;
}
.social-media-links {
  @apply bg-red-400 text-white w-10 h-10 leading-10  rounded-full cursor-pointer mr-4 text-center hover:bg-white hover:scale-110  hover:text-red-400 transform transition duration-200;
}
.service-container {
  @apply w-72 px-4 py-8 flex flex-col items-center  custom-inner-shadow;
}

.service-subtitle {
  @apply capitalize text-xl text-gray-800 font-bold my-1 text-center;
}
.service-text {
  @apply text-center leading-6 font-light text-gray-800;
}
.title-text {
  @apply text-center text-secondary-100 font-bold capitalize text-3xl mt-9;
}
.swiper-slide-active {
  @apply transform scale-110 transition duration-300;
}

.slider-img {
  @apply w-60 h-full rounded-sm object-cover;
}
.swiper-slide-2 {
  @apply w-60 h-64 rounded-lg select-none relative;
}
.slide-details {
  @apply absolute bottom-0 bg-gradient-to-t from-secondary-200 via-secondary-200 to-transparent w-full pt-3 pb-2 px-4 flex justify-between items-center;
}
.slide-details p {
  @apply text-primary capitalize font-bold text-lg;
}
.slide-details span {
  @apply text-primary capitalize font-bold text-lg;
}
.swiper-pagination {
  @apply bottom-0 !important;
}
.swiper-pagination span {
  @apply bg-secondary-100 w-2 h-2;
}

.about-links {
  @apply w-8 h-8 leading-8 cursor-pointer mr-3 text-center  hover:-rotate-6 text-white origin-top-left transition ease-in-out duration-300;
}

.testimonials {
  @apply px-4 py-6 border-2 border-gray-100 bg-white rounded-xl basis-full md:basis-80  md:mr-7 mb-7 hover:shadow-xl hover:-translate-y-1 transition border-none outline-none;
}
.testimonial-text {
  @apply md:text-sm text-center text-base text-secondary-200 leading-5 md:leading-6 font-light;
}
.testimonial-names {
  @apply font-bold text-center text-lg md:text-base mt-3 text-secondary-100;
}
.col-2 {
  @apply basis-1/2 p-3;
}
.input {
  @apply outline-none border-none pr-3 py-2 mb-4 w-full  bg-gray-700 text-white tracking-wide text-sm;
}
.input-icon {
  @apply absolute bottom-7 left-2 text-gray-500 text-sm;
}
.form-label {
  @apply block w-auto font-bold text-secondary-200 capitalize mb-1 text-gray-400;
}
.checked {
  @apply bg-secondary-100 sm:bg-gray-500;
}
.contact-error {
  @apply text-xs font-semibold text-red-500 bg-red-100 mt-1 mb-3 text-center py-1 px-2;
}
.subscribe-error {
  @apply text-xs text-red-500 bg-red-100 my-1 text-center py-1 px-2;
}

.footer-subtitle {
  @apply font-extrabold text-lg text-primary uppercase mb-2;
}
.footer-nav-links {
  @apply text-gray-400 capitalize mb-1 inline-block hover:text-primary;
}
.footer-social-media-links {
  @apply bg-gray-600 text-white w-10 h-10 leading-10 rounded-full cursor-pointer mx-2 text-center hover:bg-white hover:scale-110  hover:text-gray-600 transform transition duration-500;
}

.gallery div {
  @apply border border-2 border-red-200;
}
.grid-images {
  @apply w-full h-full object-cover;
}
